body {
	background: url('../images/background.jpg') repeat-x #d6d6d6; /* add a fallback color of #d6d6d6 */
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.7; /* line-height is unit-less */
	font-size: 12px;
}

.body {
	background: #FFF;
	padding: 30px;
}

a {
	color:  rgb(216,62,66);
	font-weight: bold;
	text-decoration: none;
}

.byline {
	padding: 10px;
	border-top: 1px dotted #000;
	border-bottom: 1px solid #000;
}

ul li.header {
	text-transform: uppercase;
	font-weight: bold;
}

img {
	position: absolute;
	left: 50%;
	margin-left: -108px;
}
header {
	height: 230px;
}

/* Logo in the h1 */
header h1 {
	background: url('../images/logo.png') no-repeat;
	width: 216px;
	height: 213px;
	margin: auto;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Centered Image */
img { 
	display: block:
	margin-left: auto;
	margin-right auto;
}